@media only screen and (min-width: 37.5em) {
    
    nav button { display:none; }
    
    nav { display: block; }
    
    nav ul {
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        border-top: 2px solid cadetblue;
        border-bottom: 2px solid cadetblue;
        background-color: lightgray;
    }
    
    ul li { 
        display: inline; 
        font-size: 20px;
        padding: 13px;
    }
    
    ul li a:link {
        text-decoration: none;
        color: dodgerblue;
    }
    
    ul li a:visited {
        color: cadetblue;
    }
    
    ul li a:hover {
        color: aqua;
    }
    
    ul li a:active {
        color: blue;
    }
    
    ul li a:focus {
        color: blue;
    }
    
    .weather-summary { text-align: center; }
    
    .weather-summary h3 {
        text-align: center;
    }
    
    .current {
        margin-left: 190px;
    }
    
    .highlow {
        margin-left: 190px;
    }
    
    .conditions {
        margin-left: 190px;
    }
    
    .windchill {
        margin-left: 190px;
    }
    
    section.forecast { display: block; }
    
    .forecast h3 {
        font-family: serif;
        margin-top: 50px;
        text-align: center;
        color: cadetblue;
    }
    
    table, th, td {
        border: 1px solid dodgerblue;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 10px;
    }

    table {
        border-spacing: inherit;
    }

    table tr {
        background-color:  cadetblue;
    }
    
    article img {
        margin-left: 55px;
    }

    .town-article {
        width: 650px;
    }
    
    /* Gallery Page CSS */
    
    div.gallery {
  		grid-template-columns: repeat(2, 49%);
		grid-gap:2%;
	}
    
    /* Home Page CSS */
	.homeArticle {
		display: block;
		margin-bottom: 10px;
        margin-right: 25px;
        margin-left: 25px
	}
    
	.cityBoxes {
		width: 100%;
		border: none;
		margin: 0rem;
		padding: .5rem 0rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
    
	.cityBoxes img {
        display: block;
		width: 19em;
		height: 14em;
        box-shadow: 3px 3px 8px grey;
		border: 1px solid cadetblue;
		width: 48%;
	}
    
	.box {
		box-shadow: 3px 3px 8px grey;
		border: 1px solid cadetblue;
		width: 48%;
	}
    
	.images {
		order: -1;
	}
    
  }