* { box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

header, nav, main, footer {
    max-width: 960px;
    margin: auto;
}

header {font-family: serif;}
header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    color: dodgerblue;
}

header img { 
    float: left; 
    padding-bottom: 30px;
}
header .subheading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    color: cadetblue;
}

nav {}

@media only screen and (max-width: 37.5em) {

    nav button {
        display: block;
        top: 2.0rem;
        right: 1.25rem; 
        background-color: #ccc;
        font-family: sans-serif;
        font-size: 1.6rem;
        background-color: transparent;
        color: #555;
        margin-bottom: 20px;
        margin-left: 7px;
    }
    
    nav ul.hide { display: none; }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {}
    
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #000;
    }

    nav ul li.active a {
        color: #fff;
    }
    
    nav ul li a:link { color: dodgerblue; }
    
    nav ul li a:visited { color:cadetblue; }

    nav ul li a:hover {
        color: aqua;
    }
    
    nav ul li a:active {
        color: aquamarine;
    }
}

main {}
main h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.weather-summary { 
    margin: 10px;
    margin-left: 20px;
}

.weather-summary h3 {
    font-family: serif;
    text-align: left;
    color: cadetblue;
}

.current img{
    float: right;
}

.current {margin-left: 0px;}

.highlow {margin-left: 0px;}

.conditions {margin-left: 0px;}

.forecast { display: none; }

article { 
    display: block;
    border-bottom: 2px solid cadetblue;
}

article h3 { 
    margin-top: 70px;
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue
}

article img {
    margin-left: 30px;
    margin-right: auto;
    width: 85%
}

.town-article {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    text-align: left;
}

footer { background-color: dodgerblue;}

.contact {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    background-color: dodgerblue;
}

.footer-bar {
    text-align: center;
    padding: 5px;
    background-color: cadetblue;
}