@media only screen and (min-width: 64em) {

    /* Home Page CSS */
    #boxID {
		display: flex;
		justify-content: space-around;
	}
    
	.bikeBoxes {
		display: block;
		border: 1px solid gray;
		margin: 5px;
        text-align: center;
	}
    
    .bikeBoxSmall {display: none;}
    
    .bikeBoxes img {
		width: 19em;
		height: 17em;
        margin-left: 5px;
        margin-right: 5px;
	}
    
	.box {
		border: none;
		box-shadow: none;
	}
    
	.bikeBoxesLargeView {
		width: 98%;
        text-align: center;
        margin-left: 2px;
	}
    
	.images {
		order: 0;
	}
    
    /* Contact Page CSS */

    .homePage .map {
    margin-left: 168px;
}
    
    /* Video Presentation */

main video {
    margin-left: 180px;
}
    
  }