@media only screen and (min-width: 37.5em) {
    
    header h1 {
        text-align: center;
    }
    
    nav button { display:none; }
    
    nav { display: block; }
    
    nav ul {
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        border-top: 2px solid green;
        border-bottom: 2px solid green;
        background-color: #F9F7CF;
    }
    
    ul li { 
        display: inline; 
        font-size: 20px;
        padding: 13px;
    }
    
    ul li a:link {
        text-decoration: none;
        color: #805500;
    }
    
    ul li a:visited {
        color: green;
    }
    
    ul li a:hover {
        color: lawngreen;
    }
    
    ul li a:active {
        color: lawngreen;
    }
    
    ul li a:focus {
        color: lawngreen;
    }
    
    table, th, td {
        border: 1px solid dodgerblue;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 10px;
    }

    table {
        border-spacing: inherit;
    }

    table tr {
        background-color:  green;
    }
    
    /* Home Page CSS */
	.homeArticle {
		display: block;
		margin-bottom: 10px;
        margin-right: 25px;
        margin-left: 25px
	}
    
	.bikeBoxes {
		width: 100%;
		border: none;
		margin: 0rem;
		padding: .5rem 0rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
    
    .bikeBoxSmall {display: none;}
    
	.bikeBoxes img {
        display: block;
		width: 19em;
		height: 14em;
		border: 1px solid green;
		width: 48%;
	}
    
	.box {
		border: 1px solid green;
		width: 98%;
        text-align: center;
	}
    
	.images {
		order: -1;
	}
    
    /* Contact Page CSS */

    .homePage .map {
    margin-left: 78px;
}
    
  }