@media only screen and (min-width: 37.5em) {
    
    nav button { display:none; }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    ul li { display: inline; }
    
    section.forecast { display: block; }
  }