* { box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

header, nav, main, footer {
    max-width: 960px;
    margin: auto;
}

header {font-family: serif;}
header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    color: dodgerblue;
}

header img { 
    float: left; 
    padding-bottom: 30px;
}
header .subheading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    color: cadetblue;
}

nav {}

@media only screen and (max-width: 37.5em) {

    nav button {
        display: block;
        top: 2.0rem;
        right: 1.25rem; 
        background-color: #ccc;
        font-family: sans-serif;
        font-size: 1.6rem;
        background-color: transparent;
        color: #555;
        margin-bottom: 20px;
        margin-left: 7px;
    }
    
    nav ul.hide { display: none; }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {}
    
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #000;
    }

    nav ul li.active a {
        color: #fff;
    }
    
    nav ul li a:link { color: dodgerblue; }
    
    nav ul li a:visited { color:cadetblue; }

    nav ul li a:hover {
        color: aqua;
    }
    
    nav ul li a:active {
        color: aquamarine;
    }
}

main {}
main h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.weather-summary { 
    margin: 10px;
    margin-left: 20px;
}

.weather-summary h3 {
    font-family: serif;
    text-align: left;
    color: cadetblue;
}

.current img{
    float: right;
    margin-right: 20%;
}

.current {
    margin-left: 0px;
    margin-right: 50px;
}

.highlow {
    margin-left: 0px;
    margin-right: 190px;
}

.conditions {
    margin-left: 0px;
    margin-right: 190px;
}

.windchill {margin-left: 0px;}

.forecast { display: none; }

article { 
    display: block;
    border-bottom: 2px solid cadetblue;
}

article h3 { 
    margin-top: 70px;
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue
}

article img {
    margin-left: 30px;
    margin-right: auto;
    width: 85%
}

.town-article {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    text-align: left;
}

footer { background-color: dodgerblue;}

.contact {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    background-color: dodgerblue;
}

.footer-bar {
    text-align: center;
    padding: 5px;
    background-color: cadetblue;
}

/* Gallery Page CSS */

.gallery-title {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}

div.gallery {
	padding: 0 2%;
  	grid-template-columns: repeat(1, 100%);
    display: grid;
}

div.gallery figure {
    margin: 1rem 0; 
    border: 1px solid;
    }

div.gallery figure img {
    width: 100%;
}

div.gallery figure figcaption {
    text-align: center;
    font-size: .9rem;
}

div.topGrid{
    padding: 0 2%;
    display: grid;
    margin-right: .5rem;
    background-color: lightblue;
}

div.topGrid img{
    width: 100%;
}

div.grids{
    padding: 0 2%;
    display: grid;
    margin-right: .5rem;
    background-color: darkgrey;
}

div.grids img{
    width: 100%;
}

/* Stormcenter Page CSS */

#stormcentertitle {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}

form fieldset {
    margin: 2%; 
    border-color: cadetblue;
}

form legend {
    font-family: 'Roboto Slab', serif; 
    color: dodgerblue; 
    font-size: 20pt;
    margin-left: 8%;
}

form div {
	margin-top: 1rem;
    border: 1px solid darkgrey;
    display: block;
}

form span {
	color: black;
	font-size: 12pt;
    display: block;
}

form input.submit {
	background-color: cadetblue;
	color: black;
	padding: 10px 30px;
	margin-bottom: 10px;
    border: none;
    margin-left: 45%;
}

/* Thanks Page CSS */

#thanks-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}

#thanks-body {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}

/* Home Page CSS */
.homePage {
    display: grid;
    margin-bottom: 10px;
}

.homePage h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    border-top: 2px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    color: dodgerblue;
}

.homePage h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
    border-top: none;
    border-bottom: none;
    color: dodgerblue;
}

.HomeArticle {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: none;
}

.grids {
    display: none;
}


