@media only screen and (min-width: 37.5em) {
    
    nav button { display:none; }
    
    nav { display: block; }
    
    nav ul {
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: left;
        border-top: 2px solid cadetblue;
        border-bottom: 2px solid cadetblue;
    }
    
    ul li { 
        display: inline; 
        font-size: 20px;
        padding: 13px;
    }
    
    ul li a:link {
        text-decoration: none;
        color: dodgerblue;
    }
    
    ul li a:visited {
        color: cadetblue;
    }
    
    ul li a:hover {
        color: aqua;
    }
    
    ul li a:active {
        color: aquamarine;
    }
    
    .weather-summary { text-align: center; }
    
    .weather-summary h3 {
        text-align: center;
    }
    
    .current {
        margin-left: 190px;
    }
    
    .highlow {
        margin-left: 190px;
    }
    
    .conditions {
        margin-left: 190px;
    }
    
    .windchill {
        margin-left: 190px;
    }
    
    section.forecast { display: block; }
    
    .forecast h3 {
        font-family: serif;
        margin-top: 50px;
        text-align: center;
        color: cadetblue;
    }
    
    table, th, td {
        border: 1px solid dodgerblue;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 10px;
    }

    table {
        border-spacing: inherit;
    }

    table tr {
        background-color:  cadetblue;
    }
    
    article img {
        margin-left: 55px;
    }

    .town-article {
        width: 650px;
    }
    
    /* Gallery Page CSS */
    
    div.gallery {
  		grid-template-columns: repeat(2, 49%);
		grid-gap:2%;
	}
    
    /* Home Page CSS */
    .homePage {
    }
    .homePage h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 35px;
        text-align: center;
        border-top: 2px solid cadetblue;
        border-bottom: 2px solid cadetblue;
        color: dodgerblue;
    }

    .homePage h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        text-align: center;
        border-top: none;
        border-bottom: none;
        color: dodgerblue;
    }

    .HomeArticle {
        margin-left: 10%;
        margin-right: 10%;
    }   

    .grids {
        display: grid;
        grid-template-columns: repeat(3, 33%);
		grid-gap:2%;
        border-top: 1px solid cadetblue;
        border-bottom: 1px solid cadetblue;
        border-collapse: inherit;
        padding: 0 2%;
    }
    
  }